
.example-card {
  max-width: 1000px;
  height: auto;
  min-height: 130px;
  padding-top:32px ;
  padding-bottom: 32px;
  
}

.header{
  width: 90%;
  display: flex;
  height: 64px;
}
.avatar{
  
}
.header .avatar {
  background-image: url('https://abrilexame.files.wordpress.com/2018/10/8dicas8.jpg?quality=70&strip=info&w=1000&h=1000.jpg');
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-left: -20px;

}
.header .persona-head-main{
  width: 48%;
  padding-left: 3%;
  padding-right: 7%;
}
.lbl-name{
  margin-top: 5px;
  font-family: "Moderat", sans-serif !important;
  font-size:16px;
  font-weight: 700;
  color:#54565a;
}
.lbl-cargo{
  font-family: "Moderat-Regular", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color:#adaeb6;
}

.header .persona-head-1{
  width: 36%;
}
.header .persona-head-2{
  width: 24%;
}
.lbl-title{
  font-family: "Moderat-Regular", sans-serif !important;
  font-size: 15px;
  font-weight: 700;
  color:#adaeb6;
}
.lbl-subtitle{
  font-family: "Moderat", sans-serif !important;
  color:#adaeb6cb;
  font-size: 16px;
  font-weight:400;
  text-decoration: underline;
}
.arrow-28px{
  font-size: 30px;
  color: #54565a; 
  background-color: rgba(0, 0, 0, 0);
  border: solid 0px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.details-button{
  position: absolute;
  top: 20px;
  left:900px!important;
}
.box-buttons{
  display: flex;
  width: auto;
  
  margin-bottom: 24px;
}

  

.box-buttons .empty-buttons{
  width: 48%;
  background-color: white;
  height: 100%;
}
.box-buttons .buttons{
  width: 62%;
  background-color: white;
  height: 100%;
}
 #btnMedio{
  height: 40px;
  width: 122px;
  font-family: "Moderat-Regular", sans-serif !important;
  font-weight: 700;
  font-size: 14px;

}

.box-buttons .buttons .btnEditar{
  border: solid 1px #ff6a13;
}
.card-content{
  margin-top: 60px!important;
  display: flex;
}
.card-content .persona-details-skill-1{
  width: 16%;
  margin-left: 9%;
  display: flexbox;
}

.lbl-title-skills{
  font-family: "AB InBev Headlines", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color:#adaeb6;
}
.lbl-skills{
  font-family: "Moderat", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color:#adaeb6c7;
  padding-top: -8px!important;
}
.card-content .persona-details-skill-2{
  width: 24%;
}
.card-content .persona-details-revesa{
  width: 24%;
}

.card-content .persona-details-status{
  width: 24%;
}
.lbl-title-revesa{
  font-family: "AB InBev Headlines", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color:#adaeb6;
}
.lbl-revesa{
  font-family: "Moderat", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color:#adaeb6c7;
  padding-top: -8px!important;
}
.box-buttons{
  width: 100%;
  background-color: red;
  height: 64px;
}