<div class="container">

    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="primary">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção (PRIMARY) :
                        </label></div>
                    <div class="content-rb">
                        <mat-radio-button value="1"><label class="lbl-radio-flex">Option 1</label></mat-radio-button>
                        <mat-radio-button value="2"><label class="lbl-radio-flex">Option 2</label></mat-radio-button>
                        <mat-radio-button value="3"><label class="lbl-radio-flex">Option 3</label></mat-radio-button>
                        <mat-radio-button value="4"><label class="lbl-radio-flex">Option 4</label></mat-radio-button>
                        <mat-radio-button value="5"><label class="lbl-radio-flex">Option 5</label></mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="accent">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção (CUSTOM ACCENT ) :
                        </label></div>
                    <div class="content-rb" id="custom">
                        <mat-radio-button value="6" [disabled]="false" ><label class="lbl-radio-flex">Option 1</label>
                        </mat-radio-button>
                        <mat-radio-button value="7"><label class="lbl-radio-flex" >Option 2</label></mat-radio-button>
                        <mat-radio-button value="8"><label class="lbl-radio-flex" >Option 3</label></mat-radio-button>
                        <mat-radio-button value="9"><label class="lbl-radio-flex" >Option 4</label></mat-radio-button>
                        <mat-radio-button value="10"><label class="lbl-radio-flex" >Option 5</label></mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="accent">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção ( CUSTOM ORANGE ACCENT ) :
                        </label></div>
                    <div class="content-rb" id="customOrange">
                        <mat-radio-button value="6" [disabled]="false"><label class="lbl-radio-flex">Option 1</label>
                        </mat-radio-button>
                        <mat-radio-button value="7"><label class="lbl-radio-flex">Option 2</label></mat-radio-button>
                        <mat-radio-button value="8"><label class="lbl-radio-flex">Option 3</label></mat-radio-button>
                        <mat-radio-button value="9"><label class="lbl-radio-flex">Option 4</label></mat-radio-button>
                        <mat-radio-button value="10"><label class="lbl-radio-flex">Option 5</label></mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="accent">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção ( CUSTOM ORANGE ACCENT ) :
                        </label></div>
                    <div class="content-rb" id="customGreen">
                        <mat-radio-button value="6" [disabled]="false"><label class="lbl-radio-flex">Option 1</label>
                        </mat-radio-button>
                        <mat-radio-button value="7"><label class="lbl-radio-flex">Option 2</label></mat-radio-button>
                        <mat-radio-button value="8"><label class="lbl-radio-flex">Option 3</label></mat-radio-button>
                        <mat-radio-button value="9"><label class="lbl-radio-flex">Option 4</label></mat-radio-button>
                        <mat-radio-button value="10"><label class="lbl-radio-flex">Option 5</label></mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>
    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="warn">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção (DISABLED) :
                        </label></div>
                    <div class="content-rb">
                        <mat-radio-button value="11" [disabled]="true" [checked]="true"><label
                                class="lbl-radio-flex">Option 1</label></mat-radio-button>
                        <mat-radio-button value="12" [disabled]="true"><label class="lbl-radio-flex">Option 2</label>
                        </mat-radio-button>
                        <mat-radio-button value="13" [disabled]="true"><label class="lbl-radio-flex">Option 3</label>
                        </mat-radio-button>
                        <mat-radio-button value="14" [disabled]="true"><label class="lbl-radio-flex">Option 4</label>
                        </mat-radio-button>
                        <mat-radio-button value="15" [disabled]="true"><label class="lbl-radio-flex">Option 5</label>
                        </mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="content">
        <div class="content-rb">
            <mat-radio-group class="UXIO-theme" aria-label="Selecione uma opção" color="warn">
                <div class="box-flex">
                    <div class="content-title-rb"> <label class="lbl-radio-title">Selecione uma opção (WARN) : </label>
                    </div>
                    <div class="content-rb">
                        <mat-radio-button value="11"><label class="lbl-radio-flex">Option 1</label></mat-radio-button>
                        <mat-radio-button value="12"><label class="lbl-radio-flex">Option 2</label></mat-radio-button>
                        <mat-radio-button value="13"><label class="lbl-radio-flex">Option 3</label></mat-radio-button>
                        <mat-radio-button value="14"><label class="lbl-radio-flex">Option 4</label></mat-radio-button>
                        <mat-radio-button value="15"><label class="lbl-radio-flex">Option 5</label></mat-radio-button>
                    </div>
                </div>
            </mat-radio-group>
        </div>
    </div>

    <div class="content">
        <div class="content-flexbox">
            
            <div class="box-flexbox">
                <mat-radio-group class="UXIO-theme" color="primary">
                    <div class="option">
                        <label class="lbl-radio-title">Selecione uma opção:</label>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="6"><label class="lbl-radio-flexbox">Option 1</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="7"><label class="lbl-radio-flexbox">Option 2</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="8"><label class="lbl-radio-flexbox">Option 3</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="9"><label class="lbl-radio-flexbox">Option 4</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="10"><label class="lbl-radio-flexbox">Option 5</label>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="box-flexbox">
                <mat-radio-group class="UXIO-theme" color="accent">
                    <div class="option">
                        <label class="lbl-radio-title">Selecione uma opção:</label>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="6"><label class="lbl-radio-flexbox">Option 1</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="7"><label class="lbl-radio-flexbox">Option 2</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="8"><label class="lbl-radio-flexbox">Option 3</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="9"><label class="lbl-radio-flexbox">Option 4</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="10"><label class="lbl-radio-flexbox">Option 5</label>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="box-flexbox">
                <mat-radio-group class="UXIO-theme" color="warn">
                    <div class="option">
                        <label class="lbl-radio-title">Selecione uma opção:</label>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="6"><label class="lbl-radio-flexbox">Option 1</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="7"><label class="lbl-radio-flexbox">Option 2</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="8"><label class="lbl-radio-flexbox">Option 3</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="9"><label class="lbl-radio-flexbox">Option 4</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="10"><label class="lbl-radio-flexbox">Option 5</label>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="box-flexbox">
                <mat-radio-group class="UXIO-theme" color="primary">
                    <div class="option">
                        <label class="lbl-radio-title">Selecione uma opção:</label>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="6"[disabled]="true" ><label class="lbl-radio-flexbox">Option 1</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="7" [disabled]="true"><label class="lbl-radio-flexbox">Option 2</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="8" [disabled]="true" [checked]="true"><label class="lbl-radio-flexbox">Option 3</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox" >
                        <mat-radio-button value="9" [disabled]="true"><label class="lbl-radio-flexbox">Option 4</label></mat-radio-button>
                    </div>
                    <div class="option" id="rb-flexbox">
                        <mat-radio-button value="10" [disabled]="true"><label class="lbl-radio-flexbox">Option 5</label>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>

        </div>
    </div>
</div>