<div class="banner">
    <div class="container">
        <div class="vertical-flex">
            <div class="box-return">
                <a>
                    <!-- <fa name="arrow-left" class="fa" size="4x"></fa> -->
                </a>
            </div>

            <div class="box-title">
                <div class="title">
                    Componentes 
                </div>
                <div class="subtitle">
                    Material AIO
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row-banner">

</div>
<router-outlet></router-outlet>