
#customBasic ::ng-deep .mat-form-field-appearance-outline {
    width: 300px;
    height: 40px;
  }
  #customBasic ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow {
    visibility: hidden;
  }
  
  #customBasic ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.6em 0px !important; 
  }
  
  #customBasic ::ng-deep .mat-form-field-appearance-outline .mat-select-trigger {
    margin-left: 7.5px;
    position: relative;
    max-width: 267px!important;
   }
   #customBasic ::ng-deep .mat-form-field-appearance-outline.mat-select-panel {
    max-height: 200px !important;  
  }
  #customBasic ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #54565a;
    font-weight: 500;
  }
  
  #customBasic ::ng-deep .mat-select-placeholder {
    font-family: "ABInBevHeadlines", sans-serif !important;
  }
  #customBasic ::ng-deep .ng-star-inserted{
    padding-left: 2px!important;
    padding-bottom: 4px;
    font-size: 11pt;
    color:#ADAEB6;
    
  }
  #customBasic ::ng-deep .ng-tns-c212-5 .ng-star-inserted{
    color: #54565a;
    font-weight: 600;
    font-size: 11pt;
    font-family: "AB InBev Headlines", sans-serif !important;
  }
  
  #customBasic ::ng-deep .mat-select-value .ng-tns-c212-1{
    color: #54565a!important;
    font-weight: 500;
  }