<div class="container">
    
    <div class="content">
        <div class="box-card">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Corona Virus is down!</mat-card-title>
                  <mat-card-subtitle>Quarentena is over</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/1.png" class="pic" alt="é..">
                <mat-card-content>
                  <label class="notice">
                   In the next week , people can go to streets normaly . There is still life out there, survivors say.
                  </label>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary">LIKE <mat-icon>thumb_up_alt</mat-icon></button>
                  <button mat-raised-button color="accent">SHARE <mat-icon>share</mat-icon></button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>

    

</div>