mat-form-field {
    margin-right: 12px;
  }

  .container{
    width: 100vw;
    height: 70vh;
    
    display: flex;
  }
  .content{
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
  }

  sat-calendar{
    margin: auto;
    width: 300px;
    height: 300px;
  }
 
.content ::ng-deep .mat-calendar-body-selected {
  color: #54565abd;
}
.content ::ng-deep .mat-calendar-body-semi-selected{
  color: white!important;
}


.content ::ng-deep .mat-calendar-body-cell-content, ::ng-deep.mat-calendar-body-label, ::ng-deep .mat-calendar-body-cell{
  padding-top: 4%!important;
  padding-bottom: 4% !important;
  font-family: "Moderat", sans-serif !important;
  color:#54565a91;
  font-size: 12pt;
  
}

.content ::ng-deep .mat-calendar-table-header-divider{
   visibility: hidden!important; 
}

.content ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(116, 199, 198, 0.911)!important;
}   

.content ::ng-deep .mat-calendar-body-selected{
  
  width: 100%!important; 
  height: 155%!important;
  margin-left: -2px!important;
  margin-top: -7.5px;
  border: solid 3px rgba(116, 199, 198, 0.911)!important;
  font-size: 13pt!important;
  color:rgba(116, 199, 198, 0.911);
  font-family: "Moderat", sans-serif !important;
  box-shadow:0px 0px  2px 3px rgb(116,199,197);
  
}
.content ::ng-deep .mat-calendar-body-label{
  color:#54565a!important;
  visibility: hidden!important;
  font-size: 9pt!important;
  font-family: "AB InBev Headlines", sans-serif!important;
}

.content ::ng-deep  .mat-button{
  width: 200px!important;
  background-color: white!important;
  text-align: left!important;
  color:rgba(0, 0, 0, 0.849)!important;
  font-size: 16pt;
  font-family: "AB InBev Headlines", sans-serif!important;
}
.content ::ng-deep th{
  color:#54565a!important;
  font-size: 14pt!important;
  font-family: "AB InBev Headlines", sans-serif!important;
}
  
.content ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(7){
    
    border-top-right-radius: 40px!important;
    border-bottom-right-radius: 40px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(7){
    border-top-right-radius: 40px!important;
    border-bottom-right-radius: 40px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(7){
    border-top-right-radius: 40px!important;
    border-bottom-right-radius: 40px!important;
  }
  .content ::ng-deep .mat-icon-button{
    color:rgb(116, 199, 198)!important;
  }
  ::ng-deep .mat-calendar-table tr:nth-child(1) td:nth-child(5){
    border-top-right-radius: 40px!important;
    border-bottom-right-radius: 40px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(1){
    border-top-left-radius: 40px!important;
    border-bottom-left-radius: 40px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(1){
    border-top-left-radius: 40px!important;
    border-bottom-left-radius: 40px!important;
  }
  ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(1){
    border-top-left-radius: 40px!important;
    border-bottom-left-radius: 40px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(5) td:nth-child(1){
    border-top-left-radius: 40px!important;
    border-bottom-left-radius: 40px!important;
  }
  ::ng-deep .mat-calendar-table tr{
    height: 5px!important;
  }

  ::ng-deep .mat-cell{
    padding: 800rem !important;
  }
 
::ng-deep .mat-header-row, .mat-row {
  display: flex;
} 
::ng-deep .mat-calendar-table {
  border-collapse: initial!important;
  border-spacing: 0px 15px !important;
  width: 102%!important;
} 
::ng-deep .mat-calendar {
  font-family: "Moderat-Regular", sans-serif !important;
}