mat-form-field {
    margin-right: 12px;
  }

  .container{
    width: auto;
    height: 90vh;
    background-color: white;
    display: flex;
  }
  .content{
    position: relative;
    top: -70px;
    left: -200px;
    margin: auto;
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
  }
  .card{
    width: 500px;
    height: 450px;
    margin: auto;
  }
  .

 ::ng-deep .mat-calendar-body-selected {
  color: #54565abd;
}
 ::ng-deep .mat-calendar-body-semi-selected{
  color: white!important;
}
 ::ng-deep .mat-calendar-table-header-divider{
  visibility: hidden!important; 
}
 ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(116, 199, 198, 0.226)!important;
  border-radius: 32px!important;
  height: 100%!important;
}   

 ::ng-deep .mat-calendar-body-cell-content, ::ng-deep.mat-calendar-body-label, ::ng-deep .mat-calendar-body-cell{
  padding-top: 4%!important;
  padding-bottom: 4% !important;
  font-family: "Moderat-Regular", sans-serif !important;
  color:#54565a;
  font-size: 10pt;
}

.content ::ng-deep .mat-calendar-body-selected{
  width: 90%!important; 
  height: 130%!important;
  margin-left: 0px!important;
  margin-top: -5px;
  border: solid 2px rgba(116, 199, 198, 0.911)!important;
  font-size: 12pt!important;
  color:#54545a;
  font-family: "Moderat-Regular", sans-serif !important;
  box-shadow:0px 0px  1px 1px rgb(116,199,197);
  
}
.content ::ng-deep .mat-calendar-body-label{
  color:#54565a!important;
  visibility: hidden!important;
  font-family: "AB InBev Headlines", sans-serif!important;
}

.content ::ng-deep  .mat-button{
  width: 0px!important;
  background-color: white!important;
  text-align: left!important;
  color:rgba(0, 0, 0, 0)!important;
  font-size: 1pt;
  font-family: "AB InBev Headlines", sans-serif!important;
  cursor: unset!important;
}
  
.content ::ng-deep .mat-calendar-table tr:nth-child(1) td:nth-child(7){
    
  border-top-right-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
}
.content ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(7){
    
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(7){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(7){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
  .content ::ng-deep .mat-icon-button{
    color:rgb(116, 199, 198)!important;
   
  }
  ::ng-deep .mat-calendar-table tr:nth-child(1) td:nth-child(5){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }
  ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(5) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }
  ::ng-deep .mat-calendar-table tr{
    height: 5px!important;
  }

::ng-deep .mat-calendar-table {
  border-collapse: initial!important;
  border-spacing: 0px 15px !important;
  width: 300px!important;
} 
::ng-deep .mat-calendar-content {
  font-family: "Moderat-Regular", sans-serif !important;
  position: relative;
  top:-35px!important;
}
::ng-deep .mat-calendar-table-header{
  visibility: hidden!important;
}





::ng-deep .mat-calendar-table{
  width: 100%!important;
  height: 100%!important;
}



.NullPointerException{
  width: 100px;
  height: 60px;
  background-color: white;
  position: relative;
  top: -350px;
  left: 20px;
}

#alphaTr{
  margin-left: 75px;
}
.datepicker{
  display: flexbox;
  width: auto;
  height: auto;
  margin: auto;
}
.datepicker .Mount-Year{
  display: flex;
  height: 40px;
  width: 70%;
  position: relative;
  top: 18px;
  
}
.datepicker .Mount-Year .lbl-month{
  font-size: 24px;
  font-weight: 500;
  font-family: "Moderat", sans-serif !important;
  text-align: center;
  color:#54565a;
  margin-left: 40px;
}
.datepicker .Mount-Year .lbl-year{
  font-size: 14pt;
  font-weight: 500;
  font-family: "Moderat-Regular", sans-serif !important;
  text-align: center;
  color:#54565a91;
  margin-left: 5px;
  margin-top: 2px;
}
.datepicker .th-datepicker{
  display: flex;
  height: 40px;
  width: 100%;
  position: relative;
  top: 108px;
}

.datepicker .th-datepicker .tr-head{
  width: 40px;
  height: 100%;
  text-align: center;
  display: flexbox;
  margin-left: 7px;
}

.datepicker .th-datepicker .tr-head .lbl-tr{
  font-size: 12pt;
  font-weight: 700;
  font-family: "Moderat", sans-serif !important;
  text-align: center;
  color:#54565a81;
}



::ng-deep .mat-calendar-controls .mat-calendar-period-button   {
  color: white!important;
  visibility: unset;
}
::ng-deep .mat-calendar-arrow{
  visibility: hidden;
}

sat-calendar {
  position: absolute;
  top: 40px!important;
  left: 75px;
  height: 100%;
  width: 70%;
  margin: auto;
}