mat-form-field {
    margin-right: 12px;
  }

  .container{
    width: 100vw;
    height: 70vh;
    
    display: flex;
  }
  .content{
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
  }

  sat-calendar{
    margin: auto;
    width: 400px;
    height: 500px;
  }
 
.content ::ng-deep .mat-calendar-body-selected {
  color: #54565abd;
}
.content ::ng-deep .mat-calendar-body-semi-selected{
  color: white!important;
}


.content ::ng-deep .mat-calendar-body-cell-content, ::ng-deep.mat-calendar-body-label, ::ng-deep .mat-calendar-body-cell{
  padding-top: 4%!important;
  padding-bottom: 4% !important;
  font-family: "Moderat-Regular", sans-serif !important;
  color:#54565a;
  font-size: 14pt;
  
}

.content ::ng-deep .mat-calendar-table-header-divider{
   visibility: hidden!important; 
}

.content ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(116, 199, 198, 0.226)!important;
  border-radius: 32px!important;
  height: 100%!important;
}   

.content ::ng-deep .mat-calendar-body-selected{
  
  width: 90%!important; 
  height: 140%!important;
  margin-left: 0px!important;
  margin-top: -8px;
  border: solid 2px rgba(116, 199, 198, 0.911)!important;
  font-size: 13pt!important;
  color:rgba(116, 199, 198, 0.911);
  font-family: "Moderat-Regular", sans-serif !important;
  box-shadow:0px 0px  1px 1px rgb(116,199,197);
  
}
.content ::ng-deep .mat-calendar-body-label{
  color:#54565a!important;
  visibility: hidden!important;
  font-size: 9pt!important;
  font-family: "AB InBev Headlines", sans-serif!important;
}

.content ::ng-deep  .mat-button{
  width: 200px!important;
  background-color: white!important;
  text-align: left!important;
  color:rgba(0, 0, 0, 0.849)!important;
  font-size: 16pt;
  font-family: "AB InBev Headlines", sans-serif!important;
}
.content ::ng-deep th{
  color:#54565a!important;
  font-size: 14pt!important;
  font-family: "AB InBev Headlines", sans-serif!important;
}
  
.content ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(7){
    
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(7){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
.content ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(7){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }
  .content ::ng-deep .mat-icon-button{
    color:rgb(116, 199, 198)!important;
   
  }
  ::ng-deep .mat-calendar-table tr:nth-child(1) td:nth-child(5){
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(2) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(3) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }
  ::ng-deep .mat-calendar-table tr:nth-child(4) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }

  ::ng-deep .mat-calendar-table tr:nth-child(5) td:nth-child(1){
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
  }
  ::ng-deep .mat-calendar-table tr{
    height: 5px!important;
  }

  ::ng-deep .mat-cell{
    padding: 800rem !important;
  }
 
::ng-deep .mat-header-row, .mat-row {
  display: flex;
} 
::ng-deep .mat-calendar-table {
  border-collapse: initial!important;
  border-spacing: 0px 15px !important;
  width: 300px!important;
} 
::ng-deep .mat-calendar {
  font-family: "Moderat-Regular", sans-serif !important;
}
::ng-deep .mat-calendar-table-header{
  visibility: hidden!important;
}
::ng-deep tr{
  width: 100%!important;
  
}

.datepicker{
  display: flexbox;
  width: 500px;
  height: 450px;
  
}
.datepicker .th-datepicker{
  display: flex;
  height: 40px;
  width: 100%;
  position: relative;
  top: 173px;
}
 .tr-head{
  width: 53px;
  height: 100%;
  text-align: center;
  display: flexbox;
}
#alphaTr{
  margin-left: 59px;
}
.lbl-tr{
  font-size: 14pt;
  font-weight: 700;
  font-family: "Moderat", sans-serif !important;
  margin-top: 5px;
  text-align: center;
  color:#54565a81;
}
::ng-deep .mat-calendar-table{
  width: 100%!important;
  height: 100%!important;
}
.tr-head{
  margin-left: 1.9px;
}
