<div class="container" (click)="getMes()">
  <div class="content">


    <div class="datepicker">
      <div class="Mount-Year">
        <label class="lbl-month">{{monthLabel}}</label>
        <label class="lbl-year">{{year}}</label>
      </div>
      <div class="th-datepicker">
        <div class="tr-head" id="alphaTr">
          <label class="lbl-tr">DOM</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">SEG</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">TER</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">QUA</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">QUI</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">SEX</label>
        </div>
        <div class="tr-head">
          <label class="lbl-tr">SAB</label>
        </div>
      </div>
      <sat-calendar [rangeMode]="true" (dateRangesChange)="inlineRangeChange($event)">
      </sat-calendar>
      <div class="NullPointerException">
      </div>
    </div>
  </div>

</div>