<mat-horizontal-stepper [linear]="isLinear" #stepper color="warn">


  <mat-step [stepControl]="firstFormGroup" state="panorama">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel><label class="lbl-ckbx">Habilidades</label></ng-template>

      <div class="line">
        <div class="head">
          <div class="box-nro">
            <label class="lbl-nro">1</label>
          </div>
          <div class="title"> <label class="lbl-title">Quais Equipamentos você sabe operar ?</label> </div>
        </div>
        <div class="container">
          <div class="content">
            <div class="box-content" id="custom">
              <div class="title"></div>
              <div class="option">
                <mat-checkbox id="ckbx1" color="accent">
                  <label class="lbl-ckbx">Lavadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx2" color="accent">
                  <label class="lbl-ckbx">Enchedora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx3" color="accent">
                  <label class="lbl-ckbx">Paletizadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx4" color="accent">
                  <label class="lbl-ckbx">Rotuladora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx5" color="accent">
                  <label class="lbl-ckbx">PZ</label>
                </mat-checkbox>
              </div>

            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="box-back">
          </div>
          <div class="box-middle">
          </div>
          <div class="box-next">
            <button mat-raised-button class="mat-orange" matStepperNext id="small-button" style="margin-top: 20px;"
              (mouseover)="flatOrange = true" (mouseout)="flatOrange = false " [class.mat-flat-orange]="flatOrange">
              <label id="lbl-button-min">Continuar</label>
            </button>
          </div>
        </div>
      </div>

    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" state="panorama">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> <label class="lbl-ckbx">Habilidades de Manutenção</label></ng-template>

      <div class="line">
        <div class="head">
          <div class="box-nro">
            <label class="lbl-nro">2</label>
          </div>
          <div class="title"> <label class="lbl-title">Quais equipamentos você sabe fazer manutenção? ?</label> </div>
        </div>
        <div class="container">
          <div class="content">
            <div class="box-content" id="custom">
              <div class="title"></div>
              <div class="option">
                <mat-checkbox id="ckbx6" color="accent">
                  <label class="lbl-ckbx">Lavadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx7" color="accent">
                  <label class="lbl-ckbx">Enchedora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx8" color="accent">
                  <label class="lbl-ckbx">Paletizadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx9" color="accent">
                  <label class="lbl-ckbx">Rotuladora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx10" color="accent">
                  <label class="lbl-ckbx">PZ</label>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="box-back">
            <button mat-raised-button matStepperPrevious class="mat-red" id="small-button"
              style="margin-top: 20px; margin-left: 30px;" (mouseover)="flatRed = true" (mouseout)="flatRed = false "
              [class.mat-flat-red]="flatRed">
              <label id="lbl-button-min">Voltar</label>
            </button>
          </div>
          <div class="box-middle">
          </div>
          <div class="box-next">
            <button mat-raised-button matStepperNext class="mat-orange" id="small-button" style="margin-top: 20px;"
              (mouseover)="flatOrange1 = true" (mouseout)="flatOrange1 = false " [class.mat-flat-orange]="flatOrange1">
              <label id="lbl-button-min">Continuar</label>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="thirdFormGroup" state="panorama">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> <label class="lbl-ckbx">Habilidades de Manutenção</label></ng-template>
      <div class="line">
        <div class="head">
          <div class="box-nro">
            <label class="lbl-nro">3</label>
          </div>
          <div class="title"> <label class="lbl-title">Quais equipamentos você sabe fazer manutenção? ?</label> </div>
        </div>
        <div class="container">
          <div class="content">
            <div class="box-content" id="custom">
              <div class="title"></div>
              <div class="option">
                <mat-checkbox id="ckbx11" color="accent">
                  <label class="lbl-ckbx">Lavadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx12" color="accent">
                  <label class="lbl-ckbx">Enchedora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx13" color="accent">
                  <label class="lbl-ckbx">Paletizadora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx14" color="accent">
                  <label class="lbl-ckbx">Rotuladora</label>
                </mat-checkbox>
              </div>
              <div class="option">
                <mat-checkbox id="ckbx15" color="accent">
                  <label class="lbl-ckbx">PZ</label>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="box-back">
            <button mat-raised-button matStepperPrevious class="mat-red" id="small-button"
              style="margin-top: 20px; margin-left: 30px;" (mouseover)="flatRed = true" (mouseout)="flatRed = false "
              [class.mat-flat-red]="flatRed">
              <label id="lbl-button-min">Voltar</label>
            </button>
          </div>
          <div class="box-middle">
          </div>
          <div class="box-next">
            <button mat-raised-button matStepperNext class="mat-orange" id="small-button" style="margin-top: 20px;"
              (mouseover)="flatOrange1 = true" (mouseout)="flatOrange1 = false " [class.mat-flat-orange]="flatOrange1">
              <label id="lbl-button-min">Continuar</label>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>




  <mat-step>
    <ng-template matStepLabel>Enviar Formulário</ng-template>

    <div class="line">
      <div class="head">
        <div class="box-nro">
          <label class="lbl-nro">4</label>
        </div>
        <div class="title"> <label class="lbl-title">Enviar formulário de habilidades? </label> </div>
      </div>


      <div class="buttons">
        <div class="box-back">
          <button mat-raised-button matStepperPrevious class="mat-red" id="small-button" style="margin-top: 20px; margin-left: 30px;"
            (mouseover)="flatRed = true" (mouseout)="flatRed = false " [class.mat-flat-red]="flatRed">
            <label id="lbl-button-min">Voltar</label>
          </button>
        </div>
        <div class="box-middle">
        </div>
        <div class="box-next">
          <button mat-raised-button class="mat-orange" id="small-button" style="margin-top: 20px;"
            (mouseover)="flatOrange1 = true" (mouseout)="flatOrange1 = false " [class.mat-flat-orange]="flatOrange1">
            <label id="lbl-button-min">Concluir</label>
          </button>
        </div>
      </div>
    </div>

  </mat-step>

  <ng-template matStepperIcon="panorama">
    <mat-icon>panorama_fish_eye</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="lens">
    <mat-icon>lens</mat-icon>
  </ng-template>
</mat-horizontal-stepper>