
 
        
 <select300px [option]="optionRascunho" (transferredValue)="onDataTransfer($event)"></select300px>
 <p>{{receivedValue}}</p>
 
 <select300px [option]="optionRascunho1" (transferredValue)="onDataTransfer1($event)"></select300px>
 <p>{{receivedValue1}}</p>

 <select200px [option]="optionRascunho" (transferredValue)="onDataTransfer($event)"></select200px>
 <p>{{receivedValue}} </p>

 <select200px [option]="optionRascunho1" (transferredValue)="onDataTransfer1($event)"></select200px>
 <p>{{receivedValue1}}</p>

 <app-select-wout-border300px [option]="optionOrderBy" (transferredValue)=" onDataTransferOrderBy($event)"></app-select-wout-border300px>
 <p>{{reciveOrderBy}}</p>


<btn-ob [label]="'label do botao'"(click)="btnClick()" [disableBtn]="disableButton"></btn-ob>


<btn-om></btn-om>
<app-bnt-os></app-bnt-os>
<app-bnt-scss></app-bnt-scss>



