<div class="cadastro-habilidades">

    <div class="line">
        <div class="box">


            

            <div class="buttons">
                <div class="line-buttons">
                    <div class="box-buttons">
                        <button mat-raised-button color="primary" id="big-button" (click)="strokeOrange1 = !strokeOrange1" [class.mat-orange]="strokeOrange1">
                            <label>Acessar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="primary" id="medium-button" (click)="strokeOrange2 = !strokeOrange2" [class.mat-orange]="strokeOrange2">
                            <label>Acessar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="primary" id="small-button" (click)="strokeOrange3 = !strokeOrange3" [class.mat-orange]="strokeOrange3">
                            <label id="lbl-button-min">Acessar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="primary"  id="little-button" (click)="strokeOrange4 = !strokeOrange4" [class.mat-orange]="strokeOrange4">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
          


            <div class="buttons">
                <div class="line-buttons">
                    <div class="box-buttons">
                        <button mat-raised-button color="accent" id="big-button" (click)="strokeGreen1 = !strokeGreen1" [class.mat-green]="strokeGreen1">
                            <label>Salvar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="accent" id="medium-button" (click)="strokeGreen2 = !strokeGreen2" [class.mat-green]="strokeGreen2">
                            <label>Salvar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="accent" id="small-button" (click)="strokeGreen3 = !strokeGreen3" [class.mat-green]="strokeGreen3">
                            <label id="lbl-button-min">Salvar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="accent"  id="little-button" (click)="strokeGreen4 = !strokeGreen4" [class.mat-green]="strokeGreen4">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
           
            <div class="buttons">
                <div class="line-buttons">
                    <div class="box-buttons">
                        <button mat-raised-button color="warn" id="big-button" (click)="strokeRed1 = !strokeRed1" [class.mat-red]="strokeRed1">
                            <label>Voltar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="warn" id="medium-button" (click)="strokeRed2 = !strokeRed2" [class.mat-red]="strokeRed2">
                            <label>Voltar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="warn" id="small-button" (click)="strokeRed3 = !strokeRed3" [class.mat-red]="strokeRed3">
                            <label id="lbl-button-min">Voltar</label>
                        </button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="warn"  id="little-button" (click)="strokeRed4 = !strokeRed4" [class.mat-red]="strokeRed4">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>

                </div>
            </div>

            <div class="buttons">
                <div class="line-buttons">
                    <div class="gray-row"></div>
                   
                   
                    <div class="box-buttons">
                        <button mat-fab>
                            <mat-icon class="md-36" inline aria-label="Home button">
                                home
                            </mat-icon>
                        </button>
                    </div>
                   
                    <div class="box-buttons">
                        <button mat-fab>
                            <mat-icon class="md-48" inline aria-label="Up button">
                                expand_less
                            </mat-icon>
                        </button>
                    </div>


                    <div class="box-buttons">
                        <button mat-button color="primary" (click)="matButton = !matButton" [class.mat-button-disable]="matButton">mat-button</button>
                    </div>
                    <div class="box-buttons">
                        <button mat-raised-button color="primary" (click)="matRaisedButton = !matRaisedButton" [class.mat-raised-button-disable]="matRaisedButton" >mat-raised-button</button>
                    </div>
                    <div class="box-buttons">
                        <button mat-flat-button color="primary"(click)="matFlatButton = !matFlatButton" [class.mat-flat-button-disable]="matFlatButton">Mat-flat-button</button>
                    </div>
                    <div class="box-buttons">
                        <button mat-stroked-button  color="primary"(click)="matStrokedButton = !matStrokedButton" [class.mat-stroked-button-disable]="matStrokedButton">Mat-Stroke-button</button>
                    </div>
                    
                    <div class="box-buttons">
                        
                            <button mat-icon-button color="primary" (click)="isClicked = !isClicked" [class.myClass]="isClicked">
                              <mat-icon>remove_circle</mat-icon>
                            </button>
                            
                    </div>
                    

                </div>
            </div>

        </div>



     

    </div>

</div>