
.box-combobox{
  width: 100%;
  display: flex;
  background-color: white;
  margin: auto;
  height: 70vh;
}
.box-modelo-view-combobox{
  margin-top: 40px;
  margin: auto;
  width: 30%;
  height: 40%;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.068);
}

.box-select40px300px{
  margin: auto;
  margin-top: 4%;
}

  .box-select40px300px ::ng-deep .mat-form-field-appearance-outline {
    width: 300px;
    height: 40px;
  }
  .box-select40px300px  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
 }

  .box-select40px300px ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow {
     visibility: hidden;
  }
  .box-select40px300px ::ng-deep .mat-form-field-appearance-outline .mat-select-trigger {
   margin-left: 32px;
    max-width: 232px!important;
  }
  
  .box-select40px300px ::ng-deep .mat-form-field-appearance-outline.mat-select-panel {
    max-height: 200px !important; 
  }
 
 

.arrow-box{
    border-radius: 3px;
    width: 30.5px;
    height: 30.5px;
    border: solid 1px rgba(0, 0, 0, 0.048);
    margin-top: 3.5px;
    margin-left: -32px;
    background-color: white;
 }
 .arrow-box .material-icons.arrow-28px { 
     font-size: 28px; 
     color: #54565a63;
     margin-left: 1px;
     margin-top: 2px;
}
