<div class="header">


    <div class="box-buttons" >
        <button mat-button [routerLink]="['/buttons']">
            Buttons
        </button>
        <button mat-button  [class.mat-fab-enable]="dois" [routerLink]="['/checkbox']">
            Checkbox
        </button>
        <button mat-button  [class.mat-fab-enable]="tres" [routerLink]="['/radio-button']">
            Radio-button
        </button>
        <button mat-button  [class.mat-fab-enable]="quatro" [routerLink]="['/combo-box']">
            Combo-box
        </button>
        <button mat-button  [class.mat-fab-enable]="cinco" [routerLink]="['/autocomplete']">
            Autocomplete
        </button>
        <button mat-button  [class.mat-fab-enable]="seis" [routerLink]="['/card']">
            Card
        </button>
        <button mat-button  [class.mat-fab-enable]="sete" [routerLink]="['/autocomplete']">
            Date
        </button>
        <button mat-button  [class.mat-fab-enable]="oito" [routerLink]="['/cadastro-habilidades']">
            Data Grid
        </button>
        <button mat-button  [class.mat-fab-enable]="oito" [routerLink]="['/cadastro-habilidades']">
           NextStep
        </button>
    </div>

</div>
<div class="row-header">

</div>
<router-outlet></router-outlet>