<div class="container">
   
    <div class="content">
        <div class="line">
            <div class="box-combobox" id="custom">
                    <div class="title"> <label>Types of custom theme :</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx1" color="accent"><label class="lbl-ckbx">Custom Accent Blue/Green</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx2" color="accent"><label class="lbl-ckbx">Custom Accent Blue/Green</label></mat-checkbox>
                    </div>
                  
            </div>
        </div>

        <div class="line">
            <div class="box-combobox">
                    <div class="title"> <label>Types of custom theme</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx6"><label class="lbl-ckbx">Normal accent</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx7"><label class="lbl-ckbx">Normal accent</label></mat-checkbox>
                    </div>
                   
            </div>
        </div>
    </div>


    <div class="content">
        <div class="line">
            <div class="box-combobox" id="customOrange">
                    <div class="title"> <label>Types of custom theme :</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx11" color="accent"><label class="lbl-ckbx">Custom Accent Orange</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx12" color="accent"><label class="lbl-ckbx">Custom Accent Orange</label></mat-checkbox>
                    </div>
                 
            </div>
        </div>

        <div class="line">
            <div class="box-combobox">
                    <div class="title"> <label>Types of custom theme</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx16" color="primary"><label class="lbl-ckbx">Normal primary</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx17" color="primary"><label class="lbl-ckbx">Normal primary</label></mat-checkbox>
                    </div>
                   
            </div>
        </div>
    </div>


    <div class="content">
        <div class="line">
            <div class="box-combobox" id="customRed">
                    <div class="title"> <label>Types of custom theme :</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx21" color="accent"><label class="lbl-ckbx">Custom Accent Red</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx22" color="accent"><label class="lbl-ckbx">Custom Accent Red</label></mat-checkbox>
                    </div>
                
            </div>
        </div>

        <div class="line">
            <div class="box-combobox">
                    <div class="title"> <label>Types of custom theme</label></div>
                    <div class="option">
                        <mat-checkbox id="ckbx26" color="warn"><label class="lbl-ckbx">Normal Warn</label></mat-checkbox>
                    </div>
                    <div class="option">
                        <mat-checkbox id="ckbx27" color="warn"><label class="lbl-ckbx">Normal Warn</label></mat-checkbox>
                    </div>
                  
            </div>
        </div>
    </div>

</div>